*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
}

h3{
    position:realtive;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(93, 20, 250);
    margin-bottom: 5px;
}

#form{
    position: relative;
    border: 2px solid black;
    background:lemonchiffon;
    border-radius: 4px;
    overflow:hidden;
}

#form #email{
    width: 300px;
    background: transparent;
    padding: 12px 15px;
    border: turquoise;
    color: black;
    font-size: 18px;
    padding-right:50px;
}

#form .indicator{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 10px;
    width: 10px;
    border-radius:50%;
    background:grey;
}

 #form .valid .indicator{
    background: #0f0;
    box-shadow: 0 0 5px #0f0,
                0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0;
}

#form .invalid .indicator{
    background:red;
    box-shadow: 0 0 5px red,
                0 0 10px red,
                0 0 20px red,
                0 0 40px red;
} 