.grid{
    background-color: cornflowerblue;
    padding: 20px;
    display:grid;
    grid-template-columns: 200px 300px 400px;
    grid-template-rows: 100px 200px auto;
    grid-row-gap:10px;
    grid-column-gap:10px;
    justify-content: center;
    
}

.grid-item{
    background-color: wheat;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;

}
