@import url('https://fonts.googleapis.com/css?family=Bad+Script');
.sect1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(7, 7, 7);
    font-family: 'Bad Script', cursive;
}



h1{
margin: 0;
padding: 0;
font-size: 16em;
color: white;
}

h1 span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}

h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: 0.25s;
}
h1 span:nth-child(3){
    animation-delay: 0.5s;
}
h1 span:nth-child(4){
    animation-delay: 0.75s;
}
h1 span:nth-child(5){
    animation-delay: 1s;
}
h1 span:nth-child(6){
    animation-delay: 1.25s;
}
h1 span:nth-child(7){
    animation-delay: 1.5s;
}
h1 span:nth-child(8){
    animation-delay: 1.75s;
}

@keyframes animate {
    0%,100%{
        color: #fff;
        filter:blur(0px);
         
        text-shadow: 0 0 30px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 320px #00b3ff;        
    }
   5%,95%{
        color: rgb(180, 131, 245);
        filter:blur(0px);
        text-shadow: none;
    }
}




