body {
    margin: 0;
    margin-top: 50px;
}

header {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    line-height: 50px;
    background-color:rgb(136, 204, 224);
    color:black;
}

header * {
    display: inline;
    height: 60px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
    display:inline;
}

